/* Variable */
:root {
  --base-font-size: 16px;
  --base-line-height: calc(var(--base-font-size) * 2);
}

input, textarea, select, button {
  padding: 0 calc(var(--base-line-height) / 4);
}

input[type='text'], input[type='search'], input[type='tel'], input[type='url'], input[type='email'], input[type='password'], input[type='datetime'], input[type='date'], input[type='month'], input[type='week'], input[type='time'], input[type='datetime-local'], input[type='number'], input[type='range'], input[type='color'] {
  width: 100%;
}

textarea {
  width: 100%;
  height: calc(var(--base-line-height) * 4);
}
