/* Variable */
:root {
  --base-font-size: 16px;
  --base-line-height: calc(var(--base-font-size) * 2);
  --horizontal-margin: calc(var(--base-font-size) * 2);
  --grid-width: calc((100% - var(--horizontal-margin) * 5) / 6);
}

.container:after,
.row:after,
.col:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
}

.col {
  margin: 0;
  display: block;
  float: left;
  width: 100%;
}

@media (min-width : 768px) {
  .col {margin-left: var(--horizontal-margin);}
  .col:first-child {margin-left: 0;}
  .grid-1 {width: var(--grid-width);}
  .grid-2 {width: calc(var(--grid-width) * 2 + var(--horizontal-margin));}
  .grid-3 {width: calc(var(--grid-width) * 3 + (var(--horizontal-margin) * 2));}
  .grid-4 {width: calc(var(--grid-width) * 4 + (var(--horizontal-margin) * 3));}
  .grid-5 {width: calc(var(--grid-width) * 5 + (var(--horizontal-margin) * 4));}
  .grid-6 {width: 100%;}
}

@media ( max-width: 1023px) {
  .container {max-width: calc(100% - var(--horizontal-margin) * 2);}
}

@media (min-width: 1024px) {
  .container {max-width: calc(1024px - var(--horizontal-margin) * 2);}
}